@page
@model WebApp.Pages.Admin.Employees.EditModel

@{
    var pageTitle = $"{Resources.ButtonCaptions.Edit} {Resources.DataDictionary.Employee}";
    ViewData["Title"] = pageTitle;
}

<partial name="PartialViews/_DisplayPageMessages" />
<partial name="PartialViews/_DisplayToastMessages" />

<form method="post">
    <div class="container my-0 my-sm-1 my-md-2 my-lg-2">
        <div class="row">
            <div class="col-12 p-3 col-md-8 offset-md-2 p-md-4 col-lg-6 offset-lg-3 p-lg-5 border border-2 rounded-3 shadow-lg">
                <fieldset>
                    <legend class="text-center">
                        @(pageTitle)
                    </legend>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EmployeeViewModel.PersonnelCode" class="control-label"></label>
                        <input asp-for="EmployeeViewModel.PersonnelCode" class="form-control" />
                        <span asp-validation-for="EmployeeViewModel.PersonnelCode" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="EmployeeViewModel.FirstName" class="control-label"></label>
                        <input asp-for="EmployeeViewModel.FirstName" class="form-control" />
                        <span asp-validation-for="EmployeeViewModel.FirstName" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="EmployeeViewModel.LastName" class="control-label"></label>
                        <input asp-for="EmployeeViewModel.LastName" class="form-control" />
                        <span asp-validation-for="EmployeeViewModel.LastName" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="EmployeeViewModel.BirthDateTime" class="control-label"></label>
                        <input asp-for="EmployeeViewModel.BirthDateTime" class="form-control" />
                        <span asp-validation-for="EmployeeViewModel.BirthDateTime" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="EmployeeViewModel.NationalCode" class="control-label"></label>
                        <input asp-for="EmployeeViewModel.NationalCode" class="form-control" />
                        <span asp-validation-for="EmployeeViewModel.NationalCode" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="EmployeeViewModel.TellNumber" class="control-label"></label>
                        <input asp-for="EmployeeViewModel.TellNumber" class="form-control" />
                        <span asp-validation-for="EmployeeViewModel.TellNumber" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="EmployeeViewModel.Address" class="control-label"></label>
                        <input asp-for="EmployeeViewModel.Address" class="form-control" />
                        <span asp-validation-for="EmployeeViewModel.Address" class="text-danger"></span>
                    </div>
                    &ensp;
                    <input type="hidden" asp-for="EmployeeViewModel.ID" />
                    <div class="form-group">
                        <label asp-for="EmployeeViewModel.PostCode" class="control-label"></label>
                        <input asp-for="EmployeeViewModel.PostCode" class="form-control" />
                        <span asp-validation-for="EmployeeViewModel.PostCode" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="EmployeeViewModel.PersonnelEntryDateTime" class="control-label"></label>
                        <input asp-for="EmployeeViewModel.PersonnelEntryDateTime" class="form-control" />
                        <span asp-validation-for="EmployeeViewModel.PersonnelEntryDateTime" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="EmployeeViewModel.InsuranceCode" class="control-label"></label>
                        <input asp-for="EmployeeViewModel.InsuranceCode" class="form-control" />
                        <span asp-validation-for="EmployeeViewModel.InsuranceCode" class="text-danger"></span>
                    </div>
                </fieldset>
                <hr class="mt-4" />
                <div class="text-center">
                    <div class="d-grid gap-2 mb-3">
                        <input type="submit" value="@(pageTitle)" class="btn btn-primary" />
                    </div>
                    &ensp;
                    <div>
                        <a asp-page="Index" class="text-decoration-none">
                            @(Resources.ButtonCaptions.BackToList)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
