<title>@ViewData["Title"] - @Resources.DataDictionary.AppTitle</title>

<meta name="author" content="Miss Roya" />
<meta name="description" content="A simple ASP.NET Core Razor Page Store Manager project." />
