@page
@model WebApp.Pages.Account.AccessDeniedModel
@{
	var pageTitle = Resources.PageTitles.AccessDenied;
	ViewData["Title"] = pageTitle;
}

<div class="container">
	<h1 class="text-danger">
		@Resources.PageTitles.AccessDenied!
	</h1>
</div>
