@page
@model WebApp.Pages.Admin.Users.CreateModel

@{
    var pageTitle = $"{Resources.DataDictionary.Create} {Resources.DataDictionary.User}";
    ViewData["Title"] = pageTitle;
}

<partial name="PartialViews/_DisplayPageMessages" />
<partial name="PartialViews/_DisplayToastMessages" />

<form method="post">
    <div class="container my-0 my-sm-1 my-md-2 my-lg-2">
        <div class="row">
            <div class="col-12 p-3 col-md-8 offset-md-2 p-md-4 col-lg-6 offset-lg-3 p-lg-5 border border-2 rounded-3 shadow-lg">
                <fieldset>
                    <legend class="text-center">
                        @(pageTitle)
                    </legend>

                    <hr />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserViewModel.FirstName" class="control-label"></label>
                        <input asp-for="UserViewModel.FirstName" class="form-control" />
                        <span asp-validation-for="UserViewModel.FirstName" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="UserViewModel.LastName" class="control-label"></label>
                        <input asp-for="UserViewModel.LastName" class="form-control" />
                        <span asp-validation-for="UserViewModel.LastName" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="UserViewModel.Role" class="control-label"></label>
                        <select asp-for="UserViewModel.Role" class="form-control" asp-items="ViewBag.NewUserRole">
                            <option value="">@(Resources.DataDictionary.SelectAnItem)</option>
                        </select>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="UserViewModel.Username" class="control-label"></label>
                        <input asp-for="UserViewModel.Username" class="form-control" />
                        <span asp-validation-for="UserViewModel.Username" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="UserViewModel.Password" class="control-label"></label>
                        <input asp-for="UserViewModel.Password" class="form-control" />
                        <span asp-validation-for="UserViewModel.Password" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="UserViewModel.EmailAddress" class="control-label"></label>
                        <input asp-for="UserViewModel.EmailAddress" class="form-control" />
                        <span asp-validation-for="UserViewModel.EmailAddress" class="text-danger"></span>
                    </div>
                    &ensp;
                    <div class="form-group">
                        <label asp-for="UserViewModel.TellNumber" class="control-label"></label>
                        <input asp-for="UserViewModel.TellNumber" class="form-control" />
                        <span asp-validation-for="UserViewModel.TellNumber" class="text-danger"></span>
                    </div>
                    &ensp;
                </fieldset>

                <hr class="mt-4" />

                <div class="text-center">
                    <div class="d-grid gap-2 mb-3">
                        <input type="submit" value="@(pageTitle)" class="btn btn-primary" />
                    </div>
                    <div>
                        <a asp-page="Index" class="text-decoration-none">
                            @(Resources.ButtonCaptions.BackToList)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
